[tool.poetry]
name = "pyaging"
version = "v0.1.3"
description = "A Python-based compendium of GPU-optimized aging clocks."
authors = ["Lucas Paulo de Lima Camillo <lucas_camillo@alumni.brown.edu>"]
license = "BSD"
readme = "README.md"

[tool.poetry.urls]
homepage = "https://github.com/rsinghlab/pyaging"
repository = "https://github.com/rsinghlab/pyaging"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
scikit-learn = "^1.3.2"
pandas = "^2.1.3"
torch = "^2.1.1"
numpy = "^1.26.2"
pyBigWig = "^0.3.22"
anndata = "^0.10.3"

[tool.poetry.dev-dependencies]
sphinx = "^7.1.2"
sphinx-rtd-theme = "^1.3.0rc1"
sphinx-autodoc-typehints = "^1.12.0"
sphinx-copybutton = "^0.5.2"
sphinx-book-theme = "^1.1.0"
sphinx-issues = "^3.0.1"
sphinx-design = "^0.5.0"
scanpydoc = "^0.10.0"
myst-parser = "^2.0.0"
ipykernel = "^5.1.0"
nbsphinx = "^0.8.11"
pygments = "^2.6.1"
pytest = "^7.2.0"
nbmake = "^1.4.6"

[tool.poetry.scripts]
pyaging = "pyaging:main"

[tool.poetry.extras]
docs = ["sphinx", "sphinx-rtd-theme", "sphinx-autodoc-typehints", "ipykernel", "nbsphinx", "pygments"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"