name: test

on:
  push:
    tags:
      - 'v*'
    paths:
      - 'pyproject.toml'
      - 'tutorials/**'
      - 'pyaging/**'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12"]  

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv sync --quiet
        
        
    - name: Check gold standards
      run: |
        uv run pytest

    - name: Run Notebooks
      run: |
        uv run pytest --nbmake tutorials/ --ignore=tutorials/tutorial_cpgptgrimage3.ipynb